# Slicing

In [1]:
a = [22,33,44,11,77,88,99,111,222,3333,444,555,666]
a[1]

33

In [2]:
a[:5]

[22, 33, 44, 11, 77]

In [3]:
a[2:7:2]

[44, 77, 99]

# Tupples

In [4]:
t  = ("nasir", "asad", 3434)
# packing

In [5]:
t

('nasir', 'asad', 3434)

In [6]:
type(t)

tuple

In [7]:
# tupples are immutable

In [8]:
t[1]="hussain"

TypeError: 'tuple' object does not support item assignment

In [ ]:
del t[0]

In [ ]:
a,b,c =t
#unpacking

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
a= "rehan"

In [ ]:
a

In [ ]:
listt= ["dad","alfa"]
alist = listt+listt
alist

In [ ]:
x,y = listt

In [ ]:
x

In [ ]:
y

In [ ]:
s = t + t

In [ ]:
s

In [ ]:
q = t +s[1:4]

In [ ]:
q

In [ ]:
my_children = ("shaheer", "ashar", "fatima")
my_children[1]
eldest_child = "my eldest child is " + my_children[0]
print(eldest_child)

# loopings
for loop & 
while loop

In [ ]:
students = ["ali", "shahzad", "hamza" ]
print(students)

In [ ]:
for student in students:
    print(student)

In [ ]:
for a in range(10):
    print(a, end=" ")

In [ ]:
for a in range(0,10,2): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
for a in range(1,10,2): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
for a in range(10,0,-1): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
for a in range(1,10,-1): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
table =int(input("Enter table number"))
for num in range(1,11):
        
    print(f"{table} * {num} = {table*num}")

In [ ]:
table =int(input("Enter table number"))
for num in range(1,11):
    if num==5:
        break
        
    print(f"{table} * {num} = {table*num}")

In [ ]:
table =int(input("Enter table number"))
r = int(input("enter table range"))

for num in range(1,r+1):
    if num==5:
        continue        
    print(f"{table} * {num} = {table*num}")

In [ ]:
first_names = ["a ", "b ", "c "]
last_names = ["1", "2", "3", "4"]
full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)
full_names

In [ ]:
table_numbers = int(input("enter table range"))

for table_number in range(2,table_numbers+1):
    
    for num in range(1,11):
        
        print(f"{table_number} * {num} = {table_number*num}")

In [ ]:
table = int(input("enter table number"))
for num in range(1,11):
    if num ==8:
        break
    print(f"{table} * {num} = {table * num}")

In [ ]:
table = int(input("enter table number"))
r = int(input("enter number"))
for num in range(1,r+2):
    if num==9:
        continue
    print(f"{table} * {num} = {table * num}")

# if statement

In [ ]:
children = ["shaheer", "ashar", "fatima"]
for child in children:
    if child == "faheem":
        print(child.upper())
    else:
        print(child.title())

In [ ]:
son = "shaheer"        #conditional tese
son == "shaheer"

In [ ]:
son == "ashar"

In [ ]:
son == "Shaheer" #case sensitive

In [ ]:
son.upper() == "SHAHEER"

In [ ]:
print("son")

In [ ]:
children = ["shaheer", "ashar", "fatima"]
for child in children:
    if child != "fatima":
        print(child + ", " + "yes he is my son")
    else:
        print('fatima, she is my daughter')

In [ ]:
children = ["shaheer", "ashar", "fatima"]
for child in children:
    if child == "faheem":
        print(child.upper())
    else:
        print(child.title())

In [ ]:
children = ["shaheer", "ashar", "fatima"]
my_daughter = "fatima"
if "shaheer" not in my_daughter:
    print('you are my son')
else:
    print("you are my daughter")

In [ ]:
car = 'subaru'
print("Is car == 'subaru'? I predict True.")
print(car == 'subaru')
print("\nIs car == 'audi'? I predict False.")
print(car == 'audi')

In [ ]:
cars = ['toyota', 'mira', 'suzuki']
cars = input([0]))
for car in cars:
    if car == 'toyota':
        print("it is my favourite car")

# Function(Positional Argument)(22-6-2019)

In [ ]:
def mult(a,b):
    c = a*b
    print(c)

In [ ]:
mult(2,4)

In [ ]:
def addition(a,b):
    c = a+b
    print(c)

In [ ]:
addition(2,4)

In [ ]:
def full_name(first_name, middle_name, last_name):
    name = first_name + middle_name + last_name
    print(name)

In [ ]:
print("Zeeshan",   "Ahmed", "Ansari")

In [ ]:
def full_name(first_name, middle_name, last_name):
    name = first_name +" "+ middle_name +" "+ last_name
    print(name)

In [ ]:
full_name("Zeeshan",   "Ahmed", "Ansari")

In [ ]:
def my_name():
    f_name = input("enter your first name:")
    m_name = input("enter your second name:")
    l_name = input("enter your last name:")
    my_full_name = f_name +" " + m_name + " " + l_name
    print("my name is"+' ' + my_full_name.title())

In [ ]:
my_name()

In [ ]:
def cal(a, b, operator):
    if operator == "+":
        c = a+b
        print(c)
    elif operator == "-":
        c = a-b
        print(c)
    elif operator == "*":
        c = a*b
        print(c)
    elif operator == "/":
        c = a/b
        print(c)
    else:
        print("operator not defined")

In [ ]:
cal(5,2,"-")

In [ ]:
cal(5,3,"+")

In [ ]:
cal(10,20,"/")

In [ ]:
cal(2,5,"*")

In [ ]:
cal(2,5,"#")

# Key Word Argument

In [ ]:
cal(2,"+",5)

In [ ]:
cal(a=4, b=5, operator="+")

In [ ]:
cal(a=4, operator="/", b=5)

In [ ]:
cal(operator="-",a=4, b=5,)

# Default Parameter

In [ ]:
def my_info(name, age=30, gender='male'):
    print(f"My name is {name}.")
    print(f"my age is {age}.")
    print(f"my gender is {gender}.")
    
my_info('zeeshan')

In [ ]:
my_info('zeeshan', 30)

In [ ]:
def my_info(name, age, gender):
    print(f"My name is {name}.")
    print(f"my age is {age}.")
    print(f"my gender is {gender}.")
    
my_info('zeeshan',30, 'male')

In [ ]:
def my_name_is(f_name, l_name, m_name=''): #last parameter is empty, not defined, empty parameter is always in the last
    if m_name:
        full_name = f_name + '  ' + m_name + '  ' + l_name
    else:
        full_name = f_name + '  ' + l_name
        return full_name.title()
a = my_name_is("zeeshan", "ansari")
print(a)

In [ ]:
b= my_name_is('zeeshan', 'ahmed')
print(b)

In [ ]:
def my_friends(names):
    for name in names:
        greet = 'hello' + ' ' + name
        print(greet)
user = ['ali', 'ahmed', 'ahsan', 'hamza']
my_friends(user)

In [ ]:
def human(f_name, l_name, age):            #Dictionary in default
    build_human = {'First Name:' : f_name, 'L_name:' : l_name, 'Age:' : age }
    for key , value in build_human.items():
        print(key, value)
human('zeeshan', 'ahmed', 21)

In [ ]:
def human(f_name, l_name, age=''):                 #Dictionary in default
    person = {'First Name:' : f_name, 'L_name:' : l_name}
    if age:
        person['Age'] = age
    return person
detail = human('zeeshan','ahmed',age= 40)
print(detail)

In [ ]:
def human(f_name, l_name, age, *others):            #Dictionary in default-extra variable called, saved on "others"
    build_human = {'First Name:' : f_name, 'L_name:' : l_name, 'Age:' : age }
    for key , value in build_human.items():
        print(key, value)
        print(others)
human('zeeshan', 'ahmed', 21, 'abc', 'de', 'fe')      #extra variables calling, but saved in "others"

In [ ]:
def books(author, book):
    print('\nmy favourite author is' + ' ' + author.title() +'.' )
    print('his famous book is' + ' ' + book.title() +'.')
books('naseem hijazi', 'shaheen')
books(book='muhaziraat', author='mehmood ghazi')                     #Multiple functions call + postional argument

# Dictionary(Practice-Home)

In [ ]:
Zeeshan = {}
Zeeshan['elder_son']='shaheer'
Zeeshan['younger_son']='ashar'
Zeeshan['daughter']='fatima'
print(Zeeshan)

In [ ]:
zee = Zeeshan['daughter']
print('my daughter is ' + zee + '.')
print('\n' + zee + ' is a good girl' + '.')

In [ ]:
if Zeeshan['daughter']=='ashar':
    a = 'she is fine'
elif Zeeshan['daughter'] == 'fatima':
    b = 'he is my son'
else:
    c = 'he must be my younger son'                #what is the problem?
print(a)
print(b)
print(c)

In [ ]:
Zeeshan['nephew'] = 'sarim'
print(Zeeshan)

In [ ]:
del Zeeshan['nephew']
print(Zeeshan)

In [ ]:
print('my younger son is' +' ' + Zeeshan['younger_son'] + '.')

In [ ]:
for k, v in Zeeshan.items():
    print('\nkey:' +key)
    print('val:'  + value)

In [ ]:
Language ={
    'zeeshan' : 'arabic',
    'shaheer' : 'english',
    'ashar' : 'persian'
}
print(Language)

In [ ]:
for name, lan in Language.items():
    print(name.title() + "'s favourite language is" +" "+ lan )

# Function: Local vs Global Variables  (29-6-2019)

In [ ]:
# Local variables: variables defined inside functions and can not be accessed ouside function
# Global variables: variables defined ouside function and can be accessed inside function and outside accessed

In [ ]:
def hello():
    a = 100      #local variable
    print(a)

In [ ]:
print(a) #local variable cant be accessed outside function

In [ ]:
fruit = 'apple'  #global variable
def hello():
    a = 100
    print(a)
    print(fruit)

In [ ]:
print(fruit)       #Global variable can be accessed outside function

In [ ]:
fruit = 'apple'  #global variable
def hello():
    a = 100
    fruit = 'orange'
    print(a)
    print(fruit)

In [ ]:
hello()

In [ ]:
fruit = 'apple'  #global variable
def hello():
    global a
    a = 100
    print(a)
    print(fruit)

In [ ]:
hello()

In [ ]:
a

In [ ]:
fruit = 'apple'  #global variable
def hello():
    global a, fruit
    a = 100
    fruit = 'oranges'
    print(a)
    print(fruit)

In [ ]:
hello()

In [ ]:
a

In [ ]:
fruit

In [ ]:
def add(a,c):
    print(a+c)
    return a+c ,a, c
sum = add(4,5)

In [ ]:
def add(a,c):
    print(a+c)
    return a+c ,a, c, 'Pakistan'
sum = add(4,5)

# While Loop

In [ ]:
for a in range(5):
    print(a)

In [ ]:
a = 0
while a<5:
    print(a)

In [ ]:
a = 0
while a<5:
    print(a)
    a += 1

In [ ]:
name = input('name batao')
print(f"your name is {name}")

In [20]:
flag = True
while flag:
    name = input('name batao')
    if name == 'quit':
         flag = False
    print(f"your name is {name}")

name bataozeeshan
your name is zeeshan
name bataoashar
your name is ashar
name bataoshaheer
your name is shaheer
name bataoquit
your name is quit

# Object Oriented Programming

# Classes

In [37]:
class Patient():
    def __init__(self, name, age, gender, disease):   #initializer # self makes separate copies of each attributes
        ######attributes
        self.name =name
        self.age = age
        self.gender = gender
        self.disease = disease
        ######behaviours
    def take_medicine(self):
        print(f"{self.name} is taking medicine")
    def take_rest(self):
        print(f"{self.name} is taking rest")
    def deposit_money(self):
        print(f"{self.name} is depositing fee")

In [38]:
p123 = Patient("Gabbar", 50, "Male", "Flu")

In [39]:
p124 = Patient("Samba", 45, "male", "Fever")

In [40]:
p123.name

'Gabbar'

In [41]:
p124.age

45

In [43]:
p123.take_rest()

Gabbar is taking rest

In [66]:
class Students():
    def __init__(self, name, age, gender, level):
        self.name = name
        self.age = age
        self.gender = gender
        self.level = level
    def a(self):
        print(f"{self.name} has completed level 15")
    def b(self):
        print(f"{self.name} has crossed 40")
    def c(self):
        print(f"{self.name} is a male")

In [68]:
stdnt_1 = Students("Zeeshan", 40, "Male", 16)

In [69]:
stdnt_1.name

'Zeeshan'

In [70]:
stdnt_1.level

16

In [71]:
stdnt_1.a()

Zeeshan has completed level 15

In [72]:
stdnt_1.b()

Zeeshan has crossed 40

In [73]:
stdnt_1.c()

Zeeshan is a male

In [75]:
stdnt_2 = Students("Shaheer", 8, "male", 1)

In [76]:
stdnt_2.name

'Shaheer'

In [77]:
stdnt_2.gender

'male'

In [78]:
stdnt_2.age

8

In [80]:
stdnt_2.level

1

In [81]:
stdnt_2.a()

Shaheer has completed level 15

# Example of Car

In [5]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def get_desctiptive_name(self):
        long_name = str(self.year) + ' + self.make + ' + self.model
        return long_name.title()

In [6]:
my_new_car = Car('audi', 'a4', 2016)

In [8]:
my_new_car.model

'a4'

In [9]:
my_new_car.make

'audi'

In [10]:
my_new_car.year

2016

# Setting a default value for an Attribute

In [42]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0        #this attribute is not initializer
    def get_desctiptive_name(self):
        long_name = str(self.year) + ' + self.make + ' + self.model
        return long_name.title()
    def read_odometer(self):
        print(f"the car has travelled {self.odometer_reading} miles")
    def update_odometer(self, mileage):
        self.odometer_reading = mileage
    def increase_odometer(self, mileage):
        if mileage>0:
            self.odometer_reading +=mileage
        
        else:
                print("you can not roll back odometer")

In [43]:
abcCar = Car("abc", "good", 2019)

In [44]:
xyzCar = Car("xyz", "bad", 2019)

In [45]:
abcCar.read_odometer()

the car has travelled 0 miles

# Modifying Attributes
i- Direct access and modify  ii- modify using a function

In [46]:
abcCar.odometer_reading = 100

In [47]:
abcCar.read_odometer()

the car has travelled 100 miles

In [48]:
abcCar.update_odometer = 1234

In [49]:
abcCar.read_odometer()

the car has travelled 100 miles

In [50]:
abcCar.increase_odometer(150)

In [51]:
abcCar.increase_odometer(-150)

you can not roll back odometer

In [52]:
#do exersice 9-1 from Python Crash Course.pdf pg 166/199 + exercise 9-4

In [41]:
abcCar.increase_odometer()

TypeError: increase_odometer() missing 1 required positional argument: 'mileage'