# Slicing

In [1]:
a = [22,33,44,11,77,88,99,111,222,3333,444,555,666]
a[1]

33

In [2]:
a[:5]

[22, 33, 44, 11, 77]

In [3]:
a[2:7:2]

[44, 77, 99]

# Tupples

In [4]:
t  = ("nasir", "asad", 3434)
# packing

In [5]:
t

('nasir', 'asad', 3434)

In [6]:
type(t)

tuple

In [7]:
# tupples are immutable

In [8]:
t[1]="hussain"

TypeError: 'tuple' object does not support item assignment

In [ ]:
del t[0]

In [ ]:
a,b,c =t
#unpacking

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
a= "rehan"

In [ ]:
a

In [ ]:
listt= ["dad","alfa"]
alist = listt+listt
alist

In [ ]:
x,y = listt

In [ ]:
x

In [ ]:
y

In [ ]:
s = t + t

In [ ]:
s

In [ ]:
q = t +s[1:4]

In [ ]:
q

In [ ]:
my_children = ("shaheer", "ashar", "fatima")
my_children[1]
eldest_child = "my eldest child is " + my_children[0]
print(eldest_child)

# loopings
for loop & 
while loop

In [ ]:
students = ["ali", "shahzad", "hamza" ]
print(students)

In [ ]:
for student in students:
    print(student)

In [ ]:
for a in range(10):
    print(a, end=" ")

In [ ]:
for a in range(0,10,2): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
for a in range(1,10,2): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
for a in range(10,0,-1): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
for a in range(1,10,-1): #3rd parameter is called step value
    print(a, end=" ")

In [ ]:
table =int(input("Enter table number"))
for num in range(1,11):
        
    print(f"{table} * {num} = {table*num}")

In [ ]:
table =int(input("Enter table number"))
for num in range(1,11):
    if num==5:
        break
        
    print(f"{table} * {num} = {table*num}")

In [ ]:
table =int(input("Enter table number"))
r = int(input("enter table range"))

for num in range(1,r+1):
    if num==5:
        continue        
    print(f"{table} * {num} = {table*num}")

In [ ]:
first_names = ["a ", "b ", "c "]
last_names = ["1", "2", "3", "4"]
full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)
full_names

In [ ]:
table_numbers = int(input("enter table range"))

for table_number in range(2,table_numbers+1):
    
    for num in range(1,11):
        
        print(f"{table_number} * {num} = {table_number*num}")

In [ ]:
table = int(input("enter table number"))
for num in range(1,11):
    if num ==8:
        break
    print(f"{table} * {num} = {table * num}")

In [ ]:
table = int(input("enter table number"))
r = int(input("enter number"))
for num in range(1,r+2):
    if num==9:
        continue
    print(f"{table} * {num} = {table * num}")

# if statement

In [ ]:
children = ["shaheer", "ashar", "fatima"]
for child in children:
    if child == "faheem":
        print(child.upper())
    else:
        print(child.title())

In [ ]:
son = "shaheer"        #conditional tese
son == "shaheer"

In [ ]:
son == "ashar"

In [ ]:
son == "Shaheer" #case sensitive

In [ ]:
son.upper() == "SHAHEER"

In [ ]:
print("son")

In [ ]:
children = ["shaheer", "ashar", "fatima"]
for child in children:
    if child != "fatima":
        print(child + ", " + "yes he is my son")
    else:
        print('fatima, she is my daughter')

In [ ]:
children = ["shaheer", "ashar", "fatima"]
for child in children:
    if child == "faheem":
        print(child.upper())
    else:
        print(child.title())

In [ ]:
children = ["shaheer", "ashar", "fatima"]
my_daughter = "fatima"
if "shaheer" not in my_daughter:
    print('you are my son')
else:
    print("you are my daughter")

In [ ]:
car = 'subaru'
print("Is car == 'subaru'? I predict True.")
print(car == 'subaru')
print("\nIs car == 'audi'? I predict False.")
print(car == 'audi')

In [ ]:
cars = ['toyota', 'mira', 'suzuki']
cars = input([0]))
for car in cars:
    if car == 'toyota':
        print("it is my favourite car")

# Function(Positional Argument)(22-6-2019)

In [ ]:
def mult(a,b):
    c = a*b
    print(c)

In [ ]:
mult(2,4)

In [ ]:
def addition(a,b):
    c = a+b
    print(c)

In [ ]:
addition(2,4)

In [ ]:
def full_name(first_name, middle_name, last_name):
    name = first_name + middle_name + last_name
    print(name)

In [ ]:
print("Zeeshan",   "Ahmed", "Ansari")

In [ ]:
def full_name(first_name, middle_name, last_name):
    name = first_name +" "+ middle_name +" "+ last_name
    print(name)

In [ ]:
full_name("Zeeshan",   "Ahmed", "Ansari")

In [ ]:
def my_name():
    f_name = input("enter your first name:")
    m_name = input("enter your second name:")
    l_name = input("enter your last name:")
    my_full_name = f_name +" " + m_name + " " + l_name
    print("my name is"+' ' + my_full_name.title())

In [ ]:
my_name()

In [1]:
def cal(a, b, operator):
    if operator == "+":
        c = a+b
        print(c)
    elif operator == "-":
        c = a-b
        print(c)
    elif operator == "*":
        c = a*b
        print(c)
    elif operator == "/":
        c = a/b
        print(c)
    else:
        print("operator not defined")

In [2]:
cal(5,2,"-")

3

In [3]:
cal(5,3,"+")

8

In [4]:
cal(10,20,"/")

0.5

In [5]:
cal(2,5,"*")

10

In [ ]:
cal(2,5,"#")

# Key Word Argument

In [ ]:
cal(2,"+",5)

In [ ]:
cal(a=4, b=5, operator="+")

In [ ]:
cal(a=4, operator="/", b=5)

In [ ]:
cal(operator="-",a=4, b=5,)

# Default Parameter

In [ ]:
def my_info(name, age=30, gender='male'):
    print(f"My name is {name}.")
    print(f"my age is {age}.")
    print(f"my gender is {gender}.")
    
my_info('zeeshan')

In [ ]:
my_info('zeeshan', 30)

In [ ]:
def my_info(name, age, gender):
    print(f"My name is {name}.")
    print(f"my age is {age}.")
    print(f"my gender is {gender}.")
    
my_info('zeeshan',30, 'male')

In [ ]:
def my_name_is(f_name, l_name, m_name=''): #last parameter is empty, not defined, empty parameter is always in the last
    if m_name:
        full_name = f_name + '  ' + m_name + '  ' + l_name
    else:
        full_name = f_name + '  ' + l_name
        return full_name.title()
a = my_name_is("zeeshan", "ansari")
print(a)

In [ ]:
b= my_name_is('zeeshan', 'ahmed')
print(b)

In [ ]:
def my_friends(names):
    for name in names:
        greet = 'hello' + ' ' + name
        print(greet)
user = ['ali', 'ahmed', 'ahsan', 'hamza']
my_friends(user)

In [ ]:
def human(f_name, l_name, age):            #Dictionary in default
    build_human = {'First Name:' : f_name, 'L_name:' : l_name, 'Age:' : age }
    for key , value in build_human.items():
        print(key, value)
human('zeeshan', 'ahmed', 21)

In [ ]:
def human(f_name, l_name, age=''):                 #Dictionary in default
    person = {'First Name:' : f_name, 'L_name:' : l_name}
    if age:
        person['Age'] = age
    return person
detail = human('zeeshan','ahmed',age= 40)
print(detail)

In [ ]:
def human(f_name, l_name, age, *others):            #Dictionary in default-extra variable called, saved on "others"
    build_human = {'First Name:' : f_name, 'L_name:' : l_name, 'Age:' : age }
    for key , value in build_human.items():
        print(key, value)
        print(others)
human('zeeshan', 'ahmed', 21, 'abc', 'de', 'fe')      #extra variables calling, but saved in "others"

In [ ]:
def books(author, book):
    print('\nmy favourite author is' + ' ' + author.title() +'.' )
    print('his famous book is' + ' ' + book.title() +'.')
books('naseem hijazi', 'shaheen')
books(book='muhaziraat', author='mehmood ghazi')                     #Multiple functions call + postional argument

# Dictionary(Practice-Home)

In [ ]:
Zeeshan = {}
Zeeshan['elder_son']='shaheer'
Zeeshan['younger_son']='ashar'
Zeeshan['daughter']='fatima'
print(Zeeshan)

In [ ]:
zee = Zeeshan['daughter']
print('my daughter is ' + zee + '.')
print('\n' + zee + ' is a good girl' + '.')

In [ ]:
if Zeeshan['daughter']=='ashar':
    a = 'she is fine'
elif Zeeshan['daughter'] == 'fatima':
    b = 'he is my son'
else:
    c = 'he must be my younger son'                #what is the problem?
print(a)
print(b)
print(c)

In [ ]:
Zeeshan['nephew'] = 'sarim'
print(Zeeshan)

In [ ]:
del Zeeshan['nephew']
print(Zeeshan)

In [ ]:
print('my younger son is' +' ' + Zeeshan['younger_son'] + '.')

In [ ]:
for k, v in Zeeshan.items():
    print('\nkey:' +key)
    print('val:'  + value)

In [ ]:
Language ={
    'zeeshan' : 'arabic',
    'shaheer' : 'english',
    'ashar' : 'persian'
}
print(Language)

In [ ]:
for name, lan in Language.items():
    print(name.title() + "'s favourite language is" +" "+ lan )

# Function: Local vs Global Variables  (29-6-2019)

In [ ]:
# Local variables: variables defined inside functions and can not be accessed ouside function
# Global variables: variables defined ouside function and can be accessed inside function and outside accessed

In [ ]:
def hello():
    a = 100      #local variable
    print(a)

In [ ]:
print(a) #local variable cant be accessed outside function

In [ ]:
fruit = 'apple'  #global variable
def hello():
    a = 100
    print(a)
    print(fruit)

In [ ]:
print(fruit)       #Global variable can be accessed outside function

In [ ]:
fruit = 'apple'  #global variable
def hello():
    a = 100
    fruit = 'orange'
    print(a)
    print(fruit)

In [ ]:
hello()

In [ ]:
fruit = 'apple'  #global variable
def hello():
    global a
    a = 100
    print(a)
    print(fruit)

In [ ]:
hello()

In [ ]:
a

In [ ]:
fruit = 'apple'  #global variable
def hello():
    global a, fruit
    a = 100
    fruit = 'oranges'
    print(a)
    print(fruit)

In [ ]:
hello()

In [ ]:
a

In [ ]:
fruit

In [ ]:
def add(a,c):
    print(a+c)
    return a+c ,a, c
sum = add(4,5)

In [ ]:
def add(a,c):
    print(a+c)
    return a+c ,a, c, 'Pakistan'
sum = add(4,5)

# While Loop

In [ ]:
for a in range(5):
    print(a)

In [ ]:
a = 0
while a<5:
    print(a)

In [ ]:
a = 0
while a<5:
    print(a)
    a += 1

In [ ]:
name = input('name batao')
print(f"your name is {name}")

In [ ]:
flag = True
while flag:
    name = input('name batao')
    if name == 'quit':
         flag = False
    print(f"your name is {name}")

# Object Oriented Programming

# Classes

In [ ]:
class Patient():
    def __init__(self, name, age, gender, disease):   #initializer # self makes separate copies of each attributes
        ######attributes
        self.name =name
        self.age = age
        self.gender = gender
        self.disease = disease
        ######behaviours
    def take_medicine(self):
        print(f"{self.name} is taking medicine")
    def take_rest(self):
        print(f"{self.name} is taking rest")
    def deposit_money(self):
        print(f"{self.name} is depositing fee")

In [ ]:
p123 = Patient("Gabbar", 50, "Male", "Flu")

In [ ]:
p124 = Patient("Samba", 45, "male", "Fever")

In [ ]:
p123.name

In [ ]:
p124.age

In [ ]:
p123.take_rest()

In [ ]:
class Students():
    def __init__(self, name, age, gender, level):
        self.name = name
        self.age = age
        self.gender = gender
        self.level = level
    def a(self):
        print(f"{self.name} has completed level 15")
    def b(self):
        print(f"{self.name} has crossed 40")
    def c(self):
        print(f"{self.name} is a male")

In [ ]:
stdnt_1 = Students("Zeeshan", 40, "Male", 16)

In [ ]:
stdnt_1.name

In [ ]:
stdnt_1.level

In [ ]:
stdnt_1.a()

In [ ]:
stdnt_1.b()

In [ ]:
stdnt_1.c()

In [ ]:
stdnt_2 = Students("Shaheer", 8, "male", 1)

In [ ]:
stdnt_2.name

In [ ]:
stdnt_2.gender

In [ ]:
stdnt_2.age

In [ ]:
stdnt_2.level

In [ ]:
stdnt_2.a()

# Example of Car

In [ ]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def get_desctiptive_name(self):
        long_name = str(self.year) + ' + self.make + ' + self.model
        return long_name.title()

In [ ]:
my_new_car = Car('audi', 'a4', 2016)

In [ ]:
my_new_car.model

In [ ]:
my_new_car.make

In [9]:
my_new_car.year

NameError: name 'my_new_car' is not defined

# Setting a default value for an Attribute

In [ ]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0        #this attribute is not initializer
    def get_desctiptive_name(self):
        long_name = str(self.year) + ' + self.make + ' + self.model
        return long_name.title()
    def read_odometer(self):
        print(f"the car has travelled {self.odometer_reading} miles")
    def update_odometer(self, mileage):
        self.odometer_reading = mileage
    def increase_odometer(self, mileage):
        if mileage>0:
            self.odometer_reading +=mileage
        
        else:
                print("you can not roll back odometer")

In [ ]:
abcCar = Car("abc", "good", 2019)

In [ ]:
xyzCar = Car("xyz", "bad", 2019)

In [ ]:
abcCar.read_odometer()

# Modifying Attributes
i- Direct access and modify  ii- modify using a function

In [ ]:
abcCar.odometer_reading = 100

In [ ]:
abcCar.read_odometer()

In [ ]:
abcCar.update_odometer = 1234

In [ ]:
abcCar.read_odometer()

In [ ]:
abcCar.increase_odometer(150)

In [ ]:
abcCar.increase_odometer(-150)

In [ ]:
#do exersice 9-1 from Python Crash Course.pdf pg 166/199 + exercise 9-4

In [ ]:
abcCar.increase_odometer()

# INHERITANCE (06-7-2019)

In [ ]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0        #this attribute is not initializer
    def get_desctiptive_name(self):
        long_name = str(self.year) + ' + self.make + ' + self.model
        return long_name.title()
    def read_odometer(self):
        print(f"the car has travelled {self.odometer_reading} miles")
    def update_odometer(self, mileage):
        self.odometer_reading = mileage
    def increase_odometer(self, mileage):
        if mileage>0:
            self.odometer_reading +=mileage
        
        else:
                print("you can not roll back odometer")
    def getFuelTankSize(self):
        print('100 liter')

In [ ]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year)    #calling initializer of parent class

In [ ]:
eCar = ElectricCar('toyota', 'corolla', 1990)

In [ ]:
eCar.read_odometer()

In [ ]:
eCar.increase_odometer(150)

In [ ]:
eCar.read_odometer()

In [ ]:
eCar.make

In [ ]:
eCar.model

In [ ]:
eCar.year

In [10]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year) #calling initializer of parent class
        self.batterySize = 70    #this attribute is not in parent class
    def describeBattery(self):
        print(f'Thte battery size of the eCar is {self.batterySize}')

NameError: name 'Car' is not defined

In [ ]:
eCar.make

In [ ]:
eCar.year

In [ ]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year) #calling initializer of parent class
        self.batterySize = 70    #this attribute is not in parent class
    def getBatterySize(self):
        print(f'Thte battery size of the eCar is {self.batterySize}')
    def setBatterySize(self, battery):
        self.batterySize = battery
    def getFuelTankSize(self):
        print('Electric Car does not have fuel tank')   #redefine/overwriting function of parent class

In [ ]:
elecCar = ElectricCar('ABC ElectricCar', 'NewCar', 2019)

In [ ]:
elecCar.setBatterySize(200)

In [ ]:
elecCar.getBatterySize()

In [ ]:
elecCar.getFuelTankSize()

# INSTANCE AS ATTRIBUTE

In [ ]:
#To use an object as an attribute/variable
#e.g. make a new class of battery and use it as an instance as object in the class of electric car

In [ ]:
class Battery():
    def __init__(self, manufacturer, watt, date):
        self.manufacturer = manufacturer
        self.watt = watt
        self.date = date
        self.batterySize=100
    def getBatterySize(self):
        print(f'Thte battery size of the eCar is {self.batterySize}')
    def setBatterySize(self, battery):
        self.batterySize = battery

In [ ]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year)
        self.battery = Battery('Osaka', 200, 2019)   #use of Battery as an instance

In [ ]:
eCar = ElectricCar('abc', 'xyz', 2019 )

In [ ]:
eCar.battery.manufacturer

In [ ]:
eCar.battery.watt

In [ ]:
eCar.battery.date

In [ ]:
eCar.battery.batterySize

In [11]:
class Engine():
    def __init__(self, make, model, cc):
        self.make = make
        self.model = model
        self.cc = cc
    def getEngineMake(self):
        print(f" Engine make is {self.make}")

In [12]:
class ElectricCar(Car):
    def __init__(self, make, model, year):
        super().__init__(make, model, year)
        self.engine = Engine('Suzuki', 2019, 2000)

NameError: name 'Car' is not defined

In [ ]:
eCar = ElectricCar('abcd', 'xyyz', 2019)

In [ ]:
eCar.engine.make

# Example of Restaurant

In [ ]:
class Restaurant():
    def __init__(self, restaurantName, cuisineType):
        self.restaurantName = rastaurantName
        self.cuisineType = cuisineType
    def describeRestaurant(self):
        print(f'The name of restaurant is {self.restaurantName}')
        print(f'The naame of cuisine type is {self.cuisineType}')
    def openRestaurant(self):
        print(f'{self.restaurant} is open today')

In [ ]:
r1 = Restaurant('ChinaTown', 'Chinese')

In [ ]:
class Restaurant():
    def __init__(self, restaurantName, cuisineType):
        self.restaurantName = restaurantName
        self.cuisineType = cuisineType
    def describeRestaurant(self):
        print(f'The name of restaurant is {self.restaurantName}')
        print(f'The naame of cuisine type is {self.cuisineType}')
    def openRestaurant(self):
        print(f'{self.restaurantName} is open today')
    def setNumberServed(self, number):
        self.numberServed = Number
    def getNumberServed(self):
        print(f'{self.numberServed} custommers are served')
    def increment_number_served(self, number):
        self.numberServed += number

In [ ]:
r1 = Restaurant('chinatown', 'chinese')

In [ ]:
print(r1.restaurantName)
print(r1.cuisineType)

In [ ]:
r2 = Restaurant('KFC', 'Japanese')
r3 = Restaurant('Dhaba', 'Tea')
r4 = Restaurant('Teapoint', 'Chae')

In [ ]:
r2.describeRestaurant()

In [ ]:
r3.describeRestaurant()

In [ ]:
restaurant = Restaurant('PizzaPlus', 'Pizza')

In [ ]:
restaurant.numberServed()

# Try - Except   (13-7-2019)

In [ ]:
a = int(input('enter a number'))
b = int(input('enter a number'))
try:
    c = a/b
    print(c)
except ZerodivisionError:
    print('Handled ZerodivisionError ')
print('last')

In [ ]:
print('first')
a = int(input('enter a number'))
b = int(input('enter a number'))
try:
    c = a/b
    print(c)
except ZeroDivisionError:
    print('Handled ZerodivisionError ')
else:
    print('else' +  str(c))

In [ ]:
print('first')
a = int(input('enter a number'))
b = int(input('enter a number'))
d = []
try:
    c = a/b
    e = d[5]                  #it is another exception
    print(e)
except:
    print('Handled ZerodivisionError ')
else:
    print(c)
print('last')

In [ ]:
5/0

In [ ]:
print('first')
a = int(input('enter a number'))
b = int(input('enter a number'))
d = []
try:
    c = a/b
    e = d[5]
    print(e)
except ZeroDivisionError:      ###type Z and press tab to get list of Exception
    print('Exception is caught ZeroDivisionError ')
except IndexError:            ###type I and press tab to get list of Exception
    print('Exception is caught is list index out of range')
else:
    print(c)
    print(e)
### here first exception os 5/0, so it detects first exception

In [ ]:
print('first')
a = int(input('enter a number'))
b = int(input('enter a number'))
d = []
try:
    c = a/b
    e = d[5]
    print(e)
except ZeroDivisionError:      ###type Z and press tab to get list of Exception
    print('Exception is caught ZeroDivisionError ')
except IndexError:            ###type I and press tab to get list of Exception
    print('Exception is caught is list index out of range')
else:
    print(c)
    print(e)
### e-d[5] is another exception so another 'except" is used

In [ ]:
print('first')
a = int(input('enter a number'))
b = int(input('enter a number'))
d = []
try:
    c = a/b
    e = d[5]
    print(e)
except:      ### here we did not explain the type of exception.
             ### means it will catch every king of exception
    print('Exception is caught ')
else:
    print(c)

In [6]:
print('first')
d = []
try:
    a = int(input('enter a number'))
    b = int(input('enter a number'))       ###input is in try block now 

    c = a/b
    e = d[5]
except:      ### here we did not explain the type of exception.
             ### means it will catch every kind of exception
    print('Exception is caught ')

else:
    print(c)

first
enter a number10
enter a number2
Exception is caught

In [7]:
print('first')
d = []
try:
    '''built in message print krna hai exception ka to {except Exception}
    is mai jis tarah ki exception ayegi wo uska message khud hi utha k layega.'''
    a = int(input('enter a number'))
    b = int(input('enter a number'))

    c = a/b
    f = d[5]
    
except Exception as e:      
    print('Handled Error ==' + str(e))
else:
    print(c)
print('Hello World')

first
enter a number5
enter a number3
Handled Error ==list index out of range
Hello World

In [ ]:

d = [5,56,222]
try:
    '''built in message print krna hai exception ka to {except Exception}
    is mai jis tarah ki exception ayegi wo uska message khud hi utha k layega.'''
    a = int(input('enter a number'))
    b = int(input('enter a number'))

    c = a/b
    f = d[2]
    
except Exception as e:      
    print('Handled Error ==' + str(e))   #str(e) itself fetches what type of error occured
else:
    print(f)
    print(c)

In [ ]:
d = [5,56,222]
try:
    '''built in message print krna hai exception ka to {except Exception}
    is mai jis tarah ki exception ayegi wo uska message khud hi utha k layega.'''
    a = int(input('enter a number'))
    b = int(input('enter a number'))

    c = a/b
    f = d[3]
    
except Exception as e:      
    print('Handled Error ==' + str(e))   #str(e) itself fetches what type of error occured
else:
    print(f)
    print(c)

In [ ]:
print('first')
a = int(input('enter a number'))
b = int(input('enter a number'))
d = []
try:
    c = a/b
    e = d[5]
    
except ZeroDivisionError:     
    print('Exception is caught ZeroDivisionError ')
else:
    print(c)
finally:
    print('Finally will always run')

# Selfmade Exceptions

In [ ]:
class Student():
    def __init__(self, name, age):
        if age>80 or age<16:
            raise Exception("Age can not be greater than 80 and less than 16")
        self.name = name
        self.age = age
    
'''hum nai apni ek condition lagayee hai us pr exception raise ki hai. ab agar user object
banatay huay age 16 sai km  ya 80 sai ziad dalayga to self made exception ka msg ayega '''

In [ ]:
class Student():
    def __init__(self, name, age):
        if age>80 or age<16:
            raise StudentAgeException("Age can not be greater than 80 and less than 16")
        self.name = name
        self.age = age
class StudentAgeException(Exception):
    pass
try:
    age = int(input("enter students age:"))
    st = Student("hello", age)
except StudentAgeException as e:
    print("StudentAgeException ==" + str(e))

In [ ]:
class Student():
    def __init__(self, name, age):
        if age>80 or age<16:
            raise StudentAgeException("Age can not be greater than 80 and less than 16")
        self.name = name
        self.age = age
class StudentAgeException(Exception):
    pass
try:
    age = int(input("enter students age:"))
    st = Student('Hello', age)
except StudentAgeException as e:
    print("StudentAgeException ==" + str(e))

# File Open

In [ ]:
x="this is a new text message"
with open("abc.txt", "w") as file:
    file.write(x)

In [ ]:
with open("abc.txt","r") as file:
    content=file.read()
print(content)

In [13]:
x="this is a new text message"
with open("abc.txt", "w") as file:
    file.write(x + "\n")
    file.write(x + "\n")
    file.write(x)

In [14]:
with open("abc.txt","r") as file:
    content=file.read()
print(content)

this is a new text message
this is a new text message
this is a new text message

# Append Rule

In [15]:
x="this is a simple text message"
with open("abc.txt", "a") as file:
    file.write(x + "\n")

In [16]:
with open("abc.txt","r") as file:
    content=file.read()
print(content)

this is a new text message
this is a new text message
this is a new text messagethis is a simple text message

In [17]:
with open("f1.txt","r+") as file:
    file.write('\n this is not generated text.')
    file.seek(0)
    print(file.read())

 this is not generated text.

In [18]:
try:
    with open("f12.txt","r+") as file:     #this file does not exist so error generates, try except is 
                                        # to handle this error
        file.write('\n this is not generated text.')
        file.seek(0)
        print(file.read())
except Exception as e:
    with oper("f2.txt", "w") as file:
        file.write('this is a generated text')

NameError: name 'oper' is not defined

In [ ]:
10/5

In [ ]:
10%3

In [ ]:
10//2

In [ ]:
age=5

In [ ]:
age+=5
print(age)

In [ ]:
10/5.0

In [ ]:
10//3

In [ ]:
species = 'dog'
if species == 'dog':
    age = 5
    status = 'ok'
    kingdom = 'animal'
    print(status + ', '+'it is an' + ' '+ kingdom)
    print('the' + ' '+kingdom+ ' '+'is'+ ' '+ str(age) +' '+'years old.')

In [ ]:
species = 'animal'
age = 7
color = 'white'
if species == 'human':
    if age >5:
        print('older than 5')
    elif age < 5:
        print('print less than 5')
#else:
  #  if color == 'white':
   #     print('color is white')
    #elif color == 'black':
     #   print('color is black')
    

#else:
 #   print('age of species is' + 'str(age)')

In [ ]:
4/3*(5-1)

In [ ]:
4+3%5

In [ ]:
3%2

In [ ]:
16%15//16

In [ ]:
15//16

In [ ]:
x=float(43.55+2/2)
print(x)

In [ ]:
print('{0:.3}'.format(1/3))

In [ ]:
if (9<0) and (0<-9):
    print('hello')
elif (9<0) or True:
    print('good')
else:
    print('bad')

In [ ]:
not(10<20) and not(10>30)

In [ ]:
list1=[]

In [ ]:
print(list1)

In [ ]:
x = list("hello")
print(x)

In [ ]:
x=['h','e','l','l','o']
print(x)

In [ ]:
len(x)

In [ ]:
y=[4,2,2,4,5,2,1,0]
print(y)

In [ ]:
print(y[0])

In [ ]:
print(y[:2])

In [ ]:
print(y[:-3])

In [ ]:
print(y[:-1])

In [ ]:
names=['amir', 'bear', 'charlton', 'daman']
print(names[-1][-1])

In [ ]:
z=[1,3,2]
z*2

In [ ]:
z=[0.5*x for x in range(0,4)]
z

In [ ]:
x=[14,2,20]
y=[14,20,2]
x<y

In [ ]:
names=['amir', 'bear', 'charlton', 'daman']
if 'Amir'in names:
    print(1)
else:
    print(2)

In [ ]:
names1=['Amir', 'Bear', 'Charlton', 'Daman']
names2=[name.lower() for name in names1]
print(names2[2][0])

In [ ]:
names1.append(['Adil'])
print(names1)

In [ ]:
numbers=[1,2,3,4]
numbers.append([5,6,7,8])
print(numbers)

In [ ]:
print(len(numbers))

In [ ]:
x=[14,2,20]
y=[14,20,2]
print(len(x+y))

In [ ]:
a=[1,2,3]
a.append(4)
b=a
print(a)
print(b)

In [ ]:
a=[1,2,3,4,5]
c=a.pop(1)
print(a)
print(c)

In [ ]:
c=[]
c.append(a.pop(2))
print(c)

# Dhoraji Test for AI

In [1]:
#1
for i in range(10):
    if i == 5:
        break
    else:
        print(i)
else:
    print("here")

0
1
2
3
4

In [2]:
#2
x=(i for i in range(3))
for i in x:
    print(i)

0
1
2

In [3]:
#3
string = "my name is x"
for i in string.split():
    print(i, end=",")

my,name,is,x,

In [5]:
#4
a = [0,1,2,3]
i = -2
for i not in a:
    print(i)
    i += 1

SyntaxError: invalid syntax (<ipython-input-5-3d47615dc60e>, line 4)

In [9]:
#5
for i in range(1,6):
    if int(i*0.5) == i*0.5:
        print(i)

2
4

In [10]:
#5
[i for i in range(1,101) if int(i*0.5)==(i*0.5)]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [15]:
#7                          #to be discussed
s1=[3,4]
s2=[1,2]
s3=list()
i=0
j=0
for i in s1:
    for j in s2:
        s3.append((i,j))
        i+=1
        j+=1
    print(s3)

[(3, 1), (4, 2)]
[(3, 1), (4, 2), (4, 1), (5, 2)]

In [11]:
#8
a={}
a[2]=1
a[2]=[2,3,4]
print(a[1][1])

KeyError: 1

In [20]:
#9
a={1:"A",2:"B",3:"C"}
for i,j in a.items():
    print(i,j, end="   ")

1 A   2 B   3 C

In [21]:
#10
a={1:"A",2:"B",3:"C"}
b={4:"D", 5:"E"}
a.update(b)
print(a)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [22]:
#11
a={1:"A",2:"B",3:"C"}
a.clear()
print(a)

{}

In [30]:
#12
a={1:5, 2:3, 3:4}
a.pop(3)
print(a)

{1: 5, 2: 3}

In [32]:
#13
lamb = lambda x:x**3
print(lambda(5))
scan?

SyntaxError: invalid syntax (<ipython-input-32-c746fb148812>, line 3)

In [33]:
#20
str="hello"
str[:2]

'he'

In [35]:
#21
x=int(13//2)
print(x)

6

In [36]:
#22
print("tom\ndick\nharry")

tom
dick
harry

In [37]:
print("tomdickharry")

tomdickharry

In [38]:
print("'tom\ndick\nharry"')

SyntaxError: EOL while scanning string literal (<ipython-input-38-992b4afa14a7>, line 1)

In [40]:
#23
i = 0
while i<5:
    print(i)
    i+=1
    if i==3:
        break
    else:
        print(0)

0
0
1
0
2

In [43]:
#24
print("Hello {name1} and {name2}"
     format(name1='foo', name='bin'))

SyntaxError: invalid syntax (<ipython-input-43-6e15b4349ae9>, line 3)

In [44]:
#25
x=1
y=2
z=x
x=y
y=z
print(x,y)

2 1

In [49]:
#26
x=2
y=4
print(x + y)
#Where x = 2, y = 4

6

In [55]:
#27
x=int(input())
y=int(input())
x=x//y
y=y//x
#where x=2, y=4
print(x)
print(y)

2
4

ZeroDivisionError: integer division or modulo by zero

In [57]:
#28
x=int(input())
y=int(input())
x=x/y
y=y/x
print(y)
#where x=4, y=2

4
2
1.0

In [58]:
#29
x=int(input())
y=int(input())
x=x%y
y=y%x
print(y)
#where x=2, y=4

2
4
0

In [59]:
#30
z=y=x=1
print(x,y,z,sep='*')

1*1*1

In [60]:
#31
x=1/2+3//3+4**2
print(x)

17.5

In [61]:
#32
i=0
while i<3:
    i+=2
    print("*")

*
*

In [63]:
#33
i=0
while i<=5:
    i+=1
    if i%2==0:
        break
    print("*")

*

In [69]:
#34
for i in range(2):
    print('#')
else:
    print("#")

#
#
#

In [72]:
#35
var = 0
while var<6:
    var +=1
    if var % 2==0:
        continue
    print(var)
    print("#")

1
#
3
#
5
#

In [80]:
#36
a=1
b=0
c=a&b
d=a|b
e=a^b
print(c+d+e)

2

In [81]:
7%9

7

In [82]:
#37
lst=[3,1,-2]
print(lst[lst[-1]])

1

In [89]:
#38
lst=[1,2,3,4]
print(lst[-3:-2])

[2]

In [90]:
#39
vals=[0,1,2]
vals[0], vals[2]=vals[2], vals[0]
vals

[2, 1, 0]

In [92]:
#40
l1=[1,2,3]
l2=[]
for v in l1:
    l2.insert(0,v)
print(l2)

[3, 2, 1]

In [93]:
#41
L=[i for i in range(-1,2)]
L

[-1, 0, 1]

In [101]:
#42
T=[[3-i for i in range(3)] for j in range(3)]
print(T)
s=0
for i in range(3):
    s+=T[i][i]
print(s)

[[3, 2, 1], [3, 2, 1], [3, 2, 1]]
6

In [102]:
#43
print(3*'abc'+'xyz')

abcabcabcxyz

In [103]:
#44
import math
a=(2**(2+3)*3-(4**4)*3)
math.fabs(a)

672.0

In [104]:
#45
a="2"
b=3
c=a*b
print(c)

222

In [105]:
#47
x=(7+5)*(2)**3
print(x)

96

# LIST

In [11]:
guests=['farhan', 'khursheed', 'mubeen', 'adnan']
print(guests)
for guest in guests:
    print('Hi' +' ' + guest.title() +' '+ 'you are cordially invited'+' .')

['farhan', 'khursheed', 'mubeen', 'adnan']
Hi Farhan you are cordially invited .
Hi Khursheed you are cordially invited .
Hi Mubeen you are cordially invited .
Hi Adnan you are cordially invited .

In [12]:
guests.append('adeel')
print(guests)

['farhan', 'khursheed', 'mubeen', 'adnan', 'adeel']

In [19]:
guests.insert(3,'waseem')
print(guests)
del guests[3]
print(guests)

['farhan', 'khursheed', 'mubeen', 'waseem', 'waseem', 'adnan', 'adeel']
['farhan', 'khursheed', 'mubeen', 'waseem', 'adnan', 'adeel']

In [22]:
guests.remove('adnan')
print(guests)

['farhan', 'khursheed', 'mubeen', 'waseem', 'adeel']

In [28]:
guests.sort()
print(guests)

['adeel', 'khursheed', 'mubeen', 'waseem']

In [29]:
guests.sort(reverse=True)
print(guests)

['waseem', 'mubeen', 'khursheed', 'adeel']